@use "/src/util/variables.scss";

.logo-area {
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: variables.$background-gradient;
  img {
    max-width: 80%;
    margin-bottom: 20px;
  }
}
